@import url('/css/nav.css');

:root{
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vermelho-escuro: #8E2424;
    --branco: #FFFFFF;
    --fonte-principal: 'Inter';
}

body{
    width: 100%;
    height: 100vh;
    font-family: var(--fonte-principal);
}